@mixin big-sub-btn{
    border: none;
    background-color: $pink;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    width: 100%;
    max-width: 250px;
    padding: .7em 0;
    &:hover{
        opacity: .8;
    }
    @media (min-width:1050px) {
        padding: 1em;
    }
}

@mixin small-sub-btn{
    border: none;
    background-color: white;
    font-weight: 600;
    font-size: 13px;
    min-width: 130px;
    border-radius: 30px;
    padding: .4em 0;
    &:hover{
        color: $grayish-blue;
    }
}

@mixin card {
    border-radius: 15px;
    h1{
        font-size: 25px;
    }
    p{
        color: $grayish-blue;
        font-size: 17px;
        max-width: 460px;
        line-height: 1.7;
    }
    img{
        max-width: 500px;
    }
    @media (min-width: 768px) and (max-width:1100px) {
        p{
            font-size: 15px;
        }
    }
    @media (min-width:1100px){
        h1{
            font-size: 35px;
            margin: 1rem 0;
        }
    }
}

@mixin shadow{
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
